<form action="/api/shoes" method="GET">
<h2>Welcome's Loobz shoe catalogue</h2>
{{#each shoes}}
<div id="each-shoe-div">
    <p>Brand : {{this.brand}}</p>
    <p>Color : {{this.color}}</p>
    <p>Size : {{this.size}}</p>
    <p>Stock available : {{this.stock}}</p>
    <p>Price : R{{this.price}}</p>
    <img src={{this.image_url}} alt="shoe image" width="200px" height="250px" />
</div>

{{/each}}
</form>


<h3> Please enter the details of the new shoe</h3>
<form action="/api/shoes" method="post">
    <input type="text" name="brandName" id="shoeBrand" placeholder="Brand Name">
    <input type="text" name="color" id="shoeColor" placeholder="Colour">
    <input type="number" name="size" id="shoeSize" placeholder="Size">
    <input type="number" name="stock" id="stock" placeholder="Stock available">
    <input type="text" name="price" id="shoePrice" placeholder="Price">

    <button type="submit" id="submitBtn">Send</button>
</form>


