<form action="/api/shoes" method="GET">
    <h2 id="welcome-heading">Welcome's Loobz shoe catalogue</h2>
    
    {{!-- <form action="/api/shoes/brand/{{brand}}" method="get">
        <label for="brandOnly">Brand Only</label>
        <select>
            <option selected disabled>Choose a brand</option>
            {{#each brand}}
            <option name={{this}} value={{this}}>{{this}}</option>
            {{/each}}
        <button type="submit">Submit Brand</button>
    </form> --}}

    <form action="/api/shoes/brand/:brandname/size/:size" method="get">
        <div id="filter-div">
            <label for="brand">Brand</label>
            <select>
                <option disabled selected >Select a brand</option>
            {{#each brand}}
                <option value={{this}}>{{this}}</option>  
            {{/each}}
            </select>

            <label for="size">Size</label>
            <select>
                <option selected disabled>Choose a shoe size</option>
                {{#each size}}
                <option value={{this}}>{{this}}</option>
                {{/each}}
            </select>

            <button type="submit" disabled>Submit</button>
        </div>
    </form>

    <div id="shoes-div">
        {{#each shoes}}
        <div id="each-shoe-div">
            <img src={{this.image_url}} alt="shoe image" width="300px" height="250px" />
            <p class="shoe-detail">Brand : {{this.brand}}</p>
            <p class="shoe-detail">Color : {{this.color}}</p>
            <p class="shoe-detail">Size : {{this.size}}</p>
            <p class="shoe-detail">Stock available : {{this.in_stock}}</p>
            <p class="shoe-detail">Price : R{{this.price}}</p>
        </div>
        {{/each}}
    </div>
</form>


<h3> Please enter the details of the new shoe</h3>
<form action="/api/shoes" method="post">
    <input type="text" name="brandName" id="shoeBrand" placeholder="Brand Name">
    <input type="text" name="color" id="shoeColor" placeholder="Colour">
    <input type="number" name="size" id="shoeSize" placeholder="Size">
    <input type="number" name="stock" id="stock" placeholder="Stock available">
    <input type="text" name="price" id="shoePrice" placeholder="Price">

    <button type="submit" id="submitBtn">Send</button>
</form>


