{{!-- <form action="/api/shoes/brand/{{brand}}" method="get">
    <label for="brandOnly">Brand Only</label>
    <select name="brandname">
        <option selected disabled>Choose a brand</option>
        {{#each brands}}
        <option value={{this}}>{{this}}</option>
        {{/each}}
    <button type="submit">Submit Brand</button>
</form> --}}

<form action="/api/shoes" method="GET" id="shoes-form">
    <h2 id="welcome-heading">Welcome to iNkwenkwezi shoe catalogue</h2>

    <div id="shoes-div">
        {{#each shoes}}
        <div class="each-shoe-div">
            <img src={{this.image_url}} class="image" alt="shoe image" />
            <p class="shoe-detail">Brand : <span class="shoe-data">{{this.brand}}</span></p>
            <p class="shoe-detail">Color : <span class="shoe-data">{{this.color}}</span></p>
            <p class="shoe-detail">Size : <span class="shoe-data">{{this.size}}</span></p>
            <p class="shoe-detail">Stock available : <span class="shoe-data">{{this.in_stock}}</span></p>
            <p class="shoe-detail">Price : <span class="shoe-data">R{{this.price}}</span> </p>
            <div id="likes-div">
                <span class="fa-regular fa-thumbs-up"></span>
            </div>
            <button class="add-to-cart"> <i class="fa-solid fa-cart-plus" id="cart-icon"></i> Add to Cart</button>
        </div>
        {{/each}}
    </div>
</form>

<script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
<script type="text/javascript">
</script>