<h2 id="welcome-heading">Welcome to iNkwenkwezi shoe catalogue</h2>

<div class="filters">
    {{!-- Brand_Only form --}}
    <form action="/api/shoes/brand/" method="GET">
        <label for="brandOnly" class="filter-label">Brand Only</label>
        <select name="brandname" class="filter-select">
            <option selected disabled class="filter-option">Choose a brand</option>
            <option value="All" id="all-option" class="filter-option">All</option>
            {{#each brands}}
            <option value={{this}} class="filter-option">{{this}}</option>
            {{/each}}
        </select>
        <button type="submit" class="submit_btn">Submit Brand</button>
    </form>

    {{!-- Size_Only form --}}
    <form action="/api/shoes/size/" method="GET">
        <label for="sizeOnly" class="filter-label">Size Only</label>
        <select name="size" class="filter-select">
            <option selected disabled class="filter-option">Choose a size</option>
            {{#each sizes}}
            <option value={{this}} class="filter-option">{{this}}</option>
            {{/each}}
        </select>
        <button type="submit" class="submit_btn">Submit Size</button>
    </form>

    <div id="brand_and_size_div">
        {{!-- Brand_and_Size form --}}
        <form action="/api/shoes/brand/size" method="GET">
        {{!-- Brand  --}}
            <label for="brand" class="filter-label">Brand</label>
            <select name="brand_name" class="filter-select">
                <option selected disabled class="filter-option">Choose a brand</option>
                {{#each brands}}
                <option value="{{this}}" class="filter-option">{{this}}</option> 
                {{/each}}
            </select>

            {{!-- Size  --}}
            <label for="size" class="filter-label">Size</label>
            <select name="size" class="filter-select">
                <option selected disabled class="filter-option">Choose a size</option>
                {{#each sizes}}
                <option value="{{this}}" class="filter-option">{{this}}</option>
                {{/each}}
            </select>

            <button type="submit" class="submit_btn">Submit both</button>
        </form>
    </div>

</div>


<form action="/api/shoes" method="GET" id="shoes-form">

    <div id="shoes-div">
        {{#each shoes}}
        <div class="each-shoe-div">
            <form action="/api/shoes/sold/{{this.id}}" method="POST">
                <img src={{this.image_url}} class="image" alt="shoe image" />
                <p class="shoe-detail">Brand : <span class="shoe-data">{{this.brand}}</span></p>
                <p class="shoe-detail">Color : <span class="shoe-data">{{this.color}}</span></p>
                <p class="shoe-detail">Size : <span class="shoe-data">{{this.size}}</span></p>
                <p class="shoe-detail">Stock available : <span class="shoe-data">{{this.in_stock}}</span></p>
                <p class="shoe-detail">Price : <span class="shoe-data">R{{this.price}}</span> </p>
                <p class="shoe-detail">ID : <span class="shoe-data">{{this.id}}</span> </p>
                <div id="likes-div">
                    <span class="fa-regular fa-thumbs-up"></span>
                </div>
                
                <button type="submit" class="add-to-cart"> <i class="fa-solid fa-cart-plus" id="cart-icon"> </i> Add to Cart</button>
                
                {{!-- <button type="submit">Add to cart</button> --}}
            </form>
        </div>
        {{/each}}
    </div>
</form>

<script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
<script type="text/javascript">
</script>